:root {
  --circle-width: 200px;
  --circle-radius: calc(var(--circle-width) / 2);
  --child-width: 50px;
  --child-radius: calc(var(--child-width) / 2);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: aqua;
  border-radius: 50%;
}

/* position center of circle */
.child {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: calc(var(--circle-radius) - var(--child-radius));
  left: calc(var(--circle-radius) - var(--child-radius));
}

.child-center {
  position: relative;
  width: 10px;
  height: 10px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: rgb(0, 0, 0);
}

/* position on circumference*/
.r {
  background-color: red;
  transform: rotate(90deg) translateX(var(--circle-radius)) rotate(-90deg);
}

.b {
  background-color: blue;
  transform: rotate(210deg) translateX(var(--circle-radius)) rotate(-210deg);
}

.g {
  background-color: green;
  transform: rotate(330deg) translateX(var(--circle-radius)) rotate(-330deg);
}